In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [5]:
lst = [[35, 'Portugal', 94], [33, 'Argentina', 93], [30 , 'Brazil', 92]]

col = ['Age','Nationality','Overall']

In [6]:
pd.DataFrame(lst, columns=col, index=[i for i in range(1,4)])

   Age Nationality  Overall
1   35    Portugal       94
2   33   Argentina       93
3   30      Brazil       92

In [9]:
array  = np.array([[94, 89, 63],

             [93, 92, 48],

             [92, 94, 56]])

In [10]:
array

array([[94, 89, 63],
       [93, 92, 48],
       [92, 94, 56]])

In [13]:
array.shape

(3, 3)

In [14]:
S = [['him', 'sell'], [90, 28, 43]]

S[0][1][1]

'e'

In [17]:
my_tuppy = (1,2,5,8)

my_tuppy[2] = 6

TypeError: 'tuple' object does not support item assignment

In [18]:
y = [(2, 4), (7, 8), (1, 5, 9)]
y[1][1]

8

In [19]:
y[1][-1]

8

In [20]:
food = pd.read_csv('FoodBalanceSheets_E_Africa_NOFLAG.csv',encoding = 'latin-1')

In [21]:
food.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28

In [22]:
food.groupby('Item')['Y2014'].sum()

Item
Alcohol, Non-Food        2403.00
Alcoholic Beverages    102410.11
Animal Products         11935.65
Animal fats            209460.54
Apples and products      9499.23
                         ...
Vegetables, Other      155038.96
Vegetal Products       107145.19
Wheat and products     232670.13
Wine                     4497.36
Yams                   200396.96
Name: Y2014, Length: 119, dtype: float64

In [23]:
food.groupby('Item')['Y2017'].sum()

Item
Alcohol, Non-Food        2348.00
Alcoholic Beverages     95581.06
Animal Products         11547.65
Animal fats            269617.53
Apples and products     10198.90
                         ...
Vegetables, Other      157752.59
Vegetal Products       107655.20
Wheat and products     240047.62
Wine                     4178.02
Yams                   229174.59
Name: Y2017, Length: 119, dtype: float64

In [24]:
food.describe()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
count,60943.000000,60943.000000,60943.000000,59354.000000,59395.000000,59408.000000,59437.000000,59507.000000
mean,134.265576,2687.176706,3814.856456,134.196282,135.235966,136.555222,140.917765,143.758381
std,72.605709,146.055739,2212.007033,1567.663696,1603.403984,1640.007194,1671.862359,1710.782658
min,4.000000,2501.000000,511.000000,-1796.000000,-3161.000000,-3225.000000,-1582.000000,-3396.000000
25%,74.000000,2562.000000,684.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,136.000000,2630.000000,5142.000000,0.090000,0.080000,0.080000,0.100000,0.070000
75%,195.000000,2775.000000,5511.000000,8.340000,8.460000,8.430000,9.000000,9.000000
max,276.000000,2961.000000,5911.000000,176405.000000,181137.000000,185960.000000,190873.000000,195875.000000

In [25]:
food.isnull().sum()

Area Code          0
Area               0
Item Code          0
Item               0
Element Code       0
Element            0
Unit               0
Y2014           1589
Y2015           1548
Y2016           1535
Y2017           1506
Y2018           1436
dtype: int64

In [34]:
tot_sum=food['Y2016'].count() + 1535
tot_sum

60943

In [35]:
1535/tot_sum

0.025187470259094565

In [36]:
food.corr()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
Area Code,1.000000,-0.005159,-0.000209,0.006164,0.005472,0.005247,0.005006,0.005665
Item Code,-0.005159,1.000000,-0.024683,0.021722,0.020857,0.020109,0.021494,0.021314
Element Code,-0.000209,-0.024683,1.000000,0.024457,0.023889,0.023444,0.024254,0.024279
Y2014,0.006164,0.021722,0.024457,1.000000,0.994647,0.996081,0.995230,0.994872
Y2015,0.005472,0.020857,0.023889,0.994647,1.000000,0.995739,0.988048,0.988208
Y2016,0.005247,0.020109,0.023444,0.996081,0.995739,1.000000,0.992785,0.992757
Y2017,0.005006,0.021494,0.024254,0.995230,0.988048,0.992785,1.000000,0.998103
Y2018,0.005665,0.021314,0.024279,0.994872,0.988208,0.992757,0.998103,1.000000

In [38]:
food.groupby('Element')['Y2014'].sum()>food.groupby('Element')['Y2015'].sum()

Element
Domestic supply quantity                  False
Export Quantity                           False
Fat supply quantity (g/capita/day)        False
Feed                                      False
Food                                      False
Food supply (kcal/capita/day)              True
Food supply quantity (kg/capita/yr)        True
Import Quantity                            True
Losses                                    False
Other uses (non-food)                      True
Processing                                False
Production                                False
Protein supply quantity (g/capita/day)     True
Residuals                                  True
Seed                                      False
Stock Variation                            True
Total Population - Both sexes             False
Tourist consumption                        True
dtype: bool

In [39]:
food.groupby('Element')['Y2014'].sum()>food.groupby('Element')['Y2016'].sum()

Element
Domestic supply quantity                  False
Export Quantity                           False
Fat supply quantity (g/capita/day)         True
Feed                                      False
Food                                      False
Food supply (kcal/capita/day)              True
Food supply quantity (kg/capita/yr)        True
Import Quantity                           False
Losses                                    False
Other uses (non-food)                      True
Processing                                 True
Production                                False
Protein supply quantity (g/capita/day)     True
Residuals                                 False
Seed                                      False
Stock Variation                            True
Total Population - Both sexes             False
Tourist consumption                        True
dtype: bool

In [40]:
food.groupby('Element')['Y2016'].sum()>food.groupby('Element')['Y2017'].sum()

Element
Domestic supply quantity                  False
Export Quantity                           False
Fat supply quantity (g/capita/day)        False
Feed                                       True
Food                                      False
Food supply (kcal/capita/day)             False
Food supply quantity (kg/capita/yr)        True
Import Quantity                           False
Losses                                    False
Other uses (non-food)                     False
Processing                                False
Production                                False
Protein supply quantity (g/capita/day)    False
Residuals                                  True
Seed                                      False
Stock Variation                           False
Total Population - Both sexes             False
Tourist consumption                       False
dtype: bool

In [41]:
food.groupby('Element')['Y2014'].sum()

Element
Domestic supply quantity                  1996716.35
Export Quantity                            150020.64
Fat supply quantity (g/capita/day)          10225.56
Feed                                       216927.89
Food                                      1212332.49
Food supply (kcal/capita/day)              454257.00
Food supply quantity (kg/capita/yr)         49650.63
Import Quantity                            274144.48
Losses                                     153223.00
Other uses (non-food)                       78718.13
Processing                                 282923.00
Production                                1931287.75
Protein supply quantity (g/capita/day)      11836.46
Residuals                                   30149.00
Seed                                        21922.92
Stock Variation                             58749.83
Total Population - Both sexes             1031585.00
Tourist consumption                           416.00
Name: Y2014, dtype: float64

In [42]:
food.groupby('Element')['Y2018'].sum()

Element
Domestic supply quantity                  2161192.10
Export Quantity                            181594.80
Fat supply quantity (g/capita/day)          10258.69
Feed                                       233489.68
Food                                      1303841.28
Food supply (kcal/capita/day)              455261.00
Food supply quantity (kg/capita/yr)         49056.85
Import Quantity                            287997.09
Losses                                     163902.00
Other uses (non-food)                       91300.97
Processing                                 308429.00
Production                                2075072.89
Protein supply quantity (g/capita/day)      11833.56
Residuals                                   34864.00
Seed                                        25263.14
Stock Variation                             20577.91
Total Population - Both sexes             1140605.00
Tourist consumption                            90.00
Name: Y2018, dtype: float64

In [43]:
food.groupby('Area')['Area'].count()

Area
Algeria                        1313
Angola                         1424
Benin                          1285
Botswana                       1378
Burkina Faso                   1409
Cabo Verde                     1260
Cameroon                       1460
Central African Republic       1344
Chad                           1343
Comoros                          45
Congo                          1413
Côte d'Ivoire                  1467
Djibouti                       1095
Egypt                          1488
Eswatini                       1284
Ethiopia                       1447
Ethiopia PDR                     39
Gabon                          1245
Gambia                         1168
Ghana                          1354
Guinea                         1410
Guinea-Bissau                  1128
Kenya                          1560
Lesotho                        1150
Liberia                        1206
Madagascar                     1439
Malawi                         1447
Mali                           1293
Mauritania                     1195
Mauritius                      1378
Morocco                        1393
Mozambique                     1427
Namibia                        1283
Niger                          1403
Nigeria                        1474
Rwanda                         1426
Sao Tome and Principe          1177
Senegal                        1462
Seychelles                       68
Sierra Leone                   1242
South Africa                   1399
Sudan                          1316
Sudan (former)                   53
Togo                           1294
Tunisia                        1338
Uganda                         1458
United Republic of Tanzania    1419
Zambia                         1451
Zimbabwe                       1393
Name: Area, dtype: int64

In [46]:
food1=food.head(1313)

In [47]:
food1

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28
...,...,...,...,...,...,...,...,...,...,...,...,...
1308,4,Algeria,2899,Miscellaneous,5142,Food,1000 tonnes,75.00,77.00,78.00,80.00,82.00
1309,4,Algeria,2899,Miscellaneous,645,Food supply quantity (kg/capita/yr),kg,1.93,1.93,1.93,1.93,1.93
1310,4,Algeria,2899,Miscellaneous,664,Food supply (kcal/capita/day),kcal/capita/day,2.00,2.00,2.00,2.00,2.00
1311,4,Algeria,2899,Miscellaneous,674,Protein supply quantity (g/capita/day),g/capita/day,0.06,0.06,0.06,0.06,0.06
1312,4,Algeria,2899,Miscellaneous,684,Fat supply quantity (g/capita/day),g/capita/day,0.03,0.03,0.03,0.03,0.03

In [48]:
food1.groupby('Element')['Y2018'].sum()

Element
Domestic supply quantity                  90023.42
Export Quantity                             811.54
Fat supply quantity (g/capita/day)          309.09
Feed                                      10668.00
Food                                      63736.33
Food supply (kcal/capita/day)             13288.00
Food supply quantity (kg/capita/yr)        1509.28
Import Quantity                           36238.29
Losses                                     7708.00
Other uses (non-food)                      3970.08
Processing                                 2479.00
Production                                60766.67
Protein supply quantity (g/capita/day)      367.28
Residuals                                   630.00
Seed                                        825.00
Stock Variation                            6172.00
Total Population - Both sexes             42228.00
Name: Y2018, dtype: float64

In [51]:
len(set(food['Area']))

49